      <!-- Footer -->
      <div class="site-footer-wrapper">
        <footer class="site-footer">
          <div class="ticker-wrapper" name="Ticker 3">
            <div class="ticker-track panel-bgdarkcard" name="Ticker 3">
              <div class="div-ticker-3-div-wrapper">
                <section class="ticker-row-mask fade-el">
                  <ul class="ticker-row ticker-list">
                    <li aria-hidden="true" class="box-full-h64">
                      <div class="div-li-div-3">
                        <div class="div-li-div icon-pixelated"><svg class="box-full">
                            <use href="#svg10620186645"></use>
                          </svg></div>
                        <div class="div-li-div-6">
                          <p class="ui-text type-ranade-34 text-lime">2+</p>
                          <p class="ui-text type-ranade-34 text-white">Years of Experience</p>
                        </div>
                      </div>
                    </li>
                    <li aria-hidden="true" class="box-full-h64">
                      <div class="div-li-div-3">
                        <div class="div-li-div icon-pixelated"><svg class="box-full">
                            <use href="#svg10620186645"></use>
                          </svg></div>
                        <div class="div-li-div-6">
                          <p class="ui-text type-ranade-34 text-lime">30+</p>
                          <p class="ui-text type-ranade-34 text-white">Web Page Design</p>
                        </div>
                      </div>
                    </li>
                    <li aria-hidden="true" class="box-full-h64">
                      <div class="div-li-div-3">
                        <div class="div-li-div icon-pixelated"><svg class="box-full">
                            <use href="#svg10620186645"></use>
                          </svg></div>
                        <div class="div-li-div-6">
                          <p class="ui-text type-ranade-34 text-lime">10+</p>
                          <p class="ui-text type-ranade-34 text-white">WordPress Sites</p>
                        </div>
                      </div>
                    </li>
                    <li aria-hidden="true" class="box-full-h64">
                      <div class="div-li-div-3">
                        <div class="div-li-div icon-pixelated"><svg class="box-full">
                            <use href="#svg10620186645"></use>
                          </svg></div>
                        <div class="div-li-div-6">
                          <p class="ui-text type-ranade-34 text-lime">100+</p>
                          <p class="ui-text type-ranade-34 text-white">Poster Design</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </div>

          <div class="div-site-footer-div-wrapper-2">
            <div class="ticker-item strip-bgdark-bordered">
              <div class="div-site-footer-div-2">
                <div class="div-site-footer-div-wrapper">
                  <div aria-label="Scroll back to top" class="div-homepage" role="button" (click)="backToTop()">
                    <p class="ui-text text-preset-small text-white-a50">Back to top</p>
                    <!-- <p class="ui-text type-manrope-15-white-right div-homepage-back-to-top-2 opacity-34">Back to top</p> -->
                    <div class="div-homepage-div">
                      <div class="div-up icon-play-button"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-content bg-dark-fill">
            <div class="footer-info">
              <div class="div-footer-div-5">
                <div class="div-footervector icon-fill-black">
                  <svg class="box-full" viewBox="0 0 751 783">
                    <use href="#svg-1842271029_449"></use>
                  </svg>
                </div>
                <div class="div-heading anim-from-bottom-40 fade-el">
                  <div class="div-heading-lets-create-something-extraordinary-together text-lime">
                    <h2 class="ui-text text-preset-cta-heading">Let’s shape <br> ideas into experiences&nbsp;<span
                        class="text-lime">.</span></h2>
                  </div>
                  <div class="div-heading-lets-make-an-impact text-white-a60">
                    <h3 class="ui-text text-preset-subheading text-white-a60">Together, let ideas take shape.</h3>
                  </div>
                </div>
                <div class="div-footer-div-2">
                  <div class="div-footer-div-wrapper-2 anim-from-bottom-40 fade-el">
                    <div class="div-tablet-phone-dark">
                      <div class="div-tablet-phone-dark-avatar">
                        <div class="div-avatar-profile-pic anim-from-right-150-panel fade-el"
                          data-ws-appear-id="1tim463">
                          <div class="abs-cover">
                            <img alt="Avatar of Saju S V" class="img-cover" decoding="async" height="800" loading="lazy"
                              src="/assets/images/Saju-SV.jpg" width="800" />
                          </div>
                        </div>
                      </div>
                      <div class="div-tablet-phone-dark-div-2 anim-from-bottom-12 fade-el" data-ws-appear-id="1ygijdq">
                        <div class="div-tablet-phone-dark-div">
                          <h3 class="ui-text text-preset-subheading text-white">Saju S V</h3>
                          <p class="ui-text text-preset-small text-white opacity-50">UIUX Designer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-contacts anim-from-bottom-40 fade-el">
                    <div class="div-contacts-email">
                      <p class="ui-text text-preset-small text-white-a40">Contact me</p>
                      <div class="div-email-hello-andrew-design">
                        <p class="text-preset-heading-md">
                          <a class="text-preset-link-large" href="mailto:sajusv2002@gmail.com" rel="noopener"
                            target="_blank">sajusv2002&#64;gmail.com</a>
                        </p>
                      </div>
                    </div>
                    <div class="div-contacts-hit-me-up-if-youre text-white-a50">
                      <h3 class="ui-text text-preset-subheading text-white-a50">Looking for a <span
                          class="text-white"> UI/UX Designer & Developer </span>to turn your vision into reality? Let’s connect.</h3>
                    </div>
                  </div>
                  <div class="div-footer-div-wrapper anim-from-bottom-40 fade-el">
                    <a class="availability-badge btn-contact-footer panel-primary-r35"
                      href="mailto:sajusv2002@gmail.com" rel="noopener" tabindex="0" target="_blank">
                      <div class="availability-badge-dot">
                        <p class="ui-text type-manrope-19-charcoal">Contact me</p>
                      </div>
                      <div class="div-green-small-div panel-white-r23">
                        <div class="div-green-small-div-wrapper">
                          <svg height="100%" viewBox="0 0 256 256" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
                              fill="rgb(47,47,47)"></path>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-top divider-top-subtle">
              <div class="div-footer-div">
                <div class="div-footer-div-4">
                  <div class="div-logo-2">
                    <h3 class="ui-text text-preset-card-title">Saju S V</h3>
                  </div>
                  <div class="div-footer-div-3"></div>
                </div>
                <div class="div-footer-div-wrapper-3">
                  <a class="div-a-5" href="./" rel="noopener">
                    <p class="ui-text type-inter-13-white-center opacity-60">Created by</p>
                    <div class="div-a-div-6">
                      <div class="div-avatar rounded-full">
                        <div class="abs-cover">
                          <img alt="Profile avatar" class="img-cover" decoding="async" height="800" loading="lazy"
                            src="/assets/images/Saju-SV.jpg" width="800" />
                        </div>
                      </div>
                    </div>
                    <p class="ui-text type-inter-13-white-center">Saju S V</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>

        <!-- Reusable SVGs Template Sprites -->
  <div aria-hidden="true" class="abs-corner-collapsed">
    <svg id="svg10620186645" viewBox="0 0 32 32">
      <path
        d="M 17.143 0 L 14.857 0 L 14.857 13.241 L 5.494 3.878 L 3.878 5.494 L 13.241 14.857 L 0 14.857 L 0 17.143 L 13.241 17.143 L 3.878 26.506 L 5.494 28.122 L 14.857 18.759 L 14.857 32 L 17.143 32 L 17.143 18.759 L 26.506 28.122 L 28.122 26.506 L 18.759 17.143 L 32 17.143 L 32 14.857 L 18.759 14.857 L 28.122 5.494 L 26.506 3.878 L 17.143 13.241 Z"
        fill="#1fc7ff"></path>
    </svg>
  </div>