      <div class="site-header-wrapper">
        <header class="site-header hairline-bottom">
          <div class="site-header-inner">
            <div class="site-header-top">
              <div class="site-header-top-wrapper">
                <a class="logo-link"  routerLink="/" tabindex="0">
                  <div class="logo-text">
                    <h3 class="ui-text text-preset-card-title text-charcoal">Saju S V</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="site-header-top">
              <div class="site-header-actions-wrapper">
                <a class="availability-badge btn-resume panel-charcoal-r30" href="https://myportfolio-eosin-delta-45.vercel.app/assets/cv/SAJU%20S%20V.pdf" rel="noopener" tabindex="0" target="_blank">
                  <div class="availability-badge-dot">
                    <p class="ui-text type-manrope-15-white">Resume</p>
                  </div>
                </a>
              </div>
              <div class="menu-toggle-wrapper">
                <div class="menu-toggle card-white-shadow" data-ws-name="open" tabindex="0" role="button"
                  aria-label="Toggle navigation">
                  <div class="menu-toggle-icon"></div>
                  <div class="menu-toggle-icon-3"></div>
                  <div class="menu-toggle-icon-2"></div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>

      <!-- Full-screen nav overlay -->
      <nav class="site-nav" data-ws-name="menu" id="siteNav" aria-label="Main">
        <div class="site-nav-panel">
          <ol class="site-nav-list">
            <li class="site-nav-item">
              <a class="site-nav-link"  routerLink="/projects"><span class="site-nav-index">01</span><span
                  class="site-nav-label">Projects</span></a>
            </li>
            <li class="site-nav-item">
              <a class="site-nav-link"  routerLink="/projects/webdesign"><span class="site-nav-index">02</span><span
                  class="site-nav-label">Web Design</span></a>
            </li>
            <li class="site-nav-item">
              <a class="site-nav-link" routerLink="/projects/posterdesign"><span class="site-nav-index">03</span><span
                  class="site-nav-label">Poster Design</span></a>
            </li>
            <li class="site-nav-item">
              <a class="site-nav-link" routerLink="/projects/logodesign"><span class="site-nav-index">04</span><span
                  class="site-nav-label">Logo Design</span></a>
            </li>
            <li class="site-nav-item">
              <a class="site-nav-link" routerLink="/projects/webdev"><span class="site-nav-index">05</span><span
                  class="site-nav-label">Web Development</span></a>
            </li>
          </ol>
        </div>
      </nav>
